#paper {
    background-image: url(./media/lined-paper.png);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    width: 80%;
    left: 10%;
    padding: 10%;
}


p,
ul {
    margin: center;
    text-align: left;
    font-size: 1.5em;
    line-height: 1.7em;
    font-family: 'Gloria Hallelujah', cursive;
}

a {
    text-decoration: none;
}

video {
    width: 100%;
}

iframe {
    width: 640;
    height: 360;
    margin: auto;
}

img {
    width: 100%;
}



#heading {
    font-family: 'Cabin Sketch', cursive;
    font-size: 4em;
    margin: center;
    text-align: center;
}